---
title: The BRIDGE
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Todos Bienvenidos!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corrupti architecto, delectus tenetur fuga
        aut! Provident, labore? Repellat recusandae iure alias illo laborum ab non soluta ullam numquam. Natus,
        obcaecati.</p>
      <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img src="./assets/blog/article-8.jpg" alt="" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all
      about.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}

    </ul>
  </div>
</section>